<ng-container *ngIf = "detail">
    <div class="review_section">
        <div *ngIf="detail.reviews.length > 0;then yesreviews else notreviews"></div>
        <ng-template #yesreviews>
            <div class="title">
                <span >★{{detail.review_scores.review_scores_rating/10}}·</span>
                <span class="value">{{detail.number_of_reviews}} reviews</span>
            </div>
            <div class="score_list">
                <div class="score">
                    <span class="score_name">Cleanliness</span>
                    <div class="score_value">
                        <progress id="file" max="10" value="{{detail.review_scores.review_scores_cleanliness}}"></progress>
                        <span>{{detail.review_scores.review_scores_cleanliness}}</span>
                    </div>
                </div>
                <div class="score">
                    <span class="score_name">Accuracy</span>
                    <div class="score_value">
                        <progress id="file" max="10" value="{{detail.review_scores.review_scores_accuracy}}"></progress>
                        <span>{{detail.review_scores.review_scores_accuracy}}</span>
                    </div>
                </div>
                <div class="score">
                    <span class="score_name">Communication</span>
                    <div class="score_value">
                        <progress id="file" max="10" value="{{detail.review_scores.review_scores_communication}}"></progress>
                        <span>{{detail.review_scores.review_scores_communication}}</span>
                    </div>
                </div>
                <div class="score">
                    <span class="score_name">Location</span>
                    <div class="score_value">
                        <progress id="file" max="10" value="{{detail.review_scores.review_scores_location}}"></progress>
                        <span>{{detail.review_scores.review_scores_location}}</span>
                    </div>

                </div>
                <div class="score">
                    <span class="score_name">Checkin</span>
                    <div class="score_value">
                        <progress id="file" max="10" value="{{detail.review_scores.review_scores_checkin}}"></progress>
                        <span>{{detail.review_scores.review_scores_checkin}}</span>
                    </div>

                </div>
                <div class="score">
                    <span class="score_name">Value</span>
                    <div class="score_value">
                        <progress id="file" max="10" value="{{detail.review_scores.review_scores_value}}"></progress>
                        <span>{{detail.review_scores.review_scores_value}}</span>
                    </div>
                </div>
            </div>

            <div class="review_list">
                <div class = "review" *ngFor = "let review of detail.reviews.slice(0, 6)">
                    <div class = "review_data">
                        <img class = "rewiew_image" src = "/assets/images/default.png" alt = "Profile image">
                        <div class="review_name">
                            <div class = "title_2">{{review.reviewer_name}}</div>
                            <div>{{review.date | date}}</div>
                        </div>

                    </div>
                    <div class = "review_comment">
                        {{review.comments}}
                    </div>
                </div>
            </div>
            <div *ngIf = "detail.number_of_reviews > 6">
                <button class = "button">View all {{detail.number_of_reviews}} reviews</button>
            </div>
        </ng-template>
        <ng-template #notreviews>
            <div class="title">No reviews (yet)</div>
        </ng-template>



    </div>
</ng-container>
