.module
    h1 
        margin: 120px auto 50px auto,
        color: red,
        text-align: center,
        font-size: 80px,
        font-family: 'Silkscreen',

    .container
        display: flex,
        flex-wrap: wrap,
        flex-direction: row,
        justify-content: center,
        padding: 0px 20px,


        .item 
            margin: 3px 10px,
            align-self: stretch,

@media (max-width: 768px)

    .item
        flex: 1,
        width: 100%,

@media (max-width: 600px)

    h1
        font-size: 60px !important,
        