<div class="module-form">
    <div class="intro">
        <h1>{{title}}</h1>
        <h2>{{subtitle}}</h2>
    </div>

    <div class="cform">
        <form *ngIf = "profileForm" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="item_row">
                <label for="name">Nombre</label>
                <input id="name" type="text" placeholder="Introduce tu nombre" formControlName="fullname">
                <div class = "error" *ngFor="let validation of validation_messages.fullname">
                    <div class="error-msg" *ngIf="profileForm?.get('fullname')?.hasError(validation.type) && (profileForm?.get('fullname')?.dirty || profileForm?.get('fullname')?.touched)">{{validation.message}}
                    </div>
                </div>
            </div>
            <div class="item_row">
                <label for="email">Email</label>
                <input id="email" type="text" placeholder="Introduce tu email" formControlName="email">
                <div class = "error" *ngFor="let validation of validation_messages.email">
                    <div class="error-msg" *ngIf="profileForm?.get('email')?.hasError(validation.type) && (profileForm?.get('email')?.dirty || profileForm?.get('email')?.touched)">{{validation.message}}
                    </div>
                </div>
            </div>
            <div class="item_row">
                <label for="age">Edad</label>
                <input id="age" type="number" placeholder="Introduce tu edad, debes ser mayor de edad" formControlName="age">
                <div class = "error" *ngFor="let validation of validation_messages.age">
                    <div class="error-msg" *ngIf="profileForm?.get('age')?.hasError(validation.type) && (profileForm?.get('age')?.dirty || profileForm?.get('age')?.touched)">{{validation.message}}
                    </div>
                </div>
            </div>
            <div class="item_col">
                <label for="rol">¿Cuál es tu rol actual?</label>
                <select id="rol" formControlName="rol">
                    <option value="" disabled>Selecciona tu rol actual</option>
                    <option *ngFor="let rol of roles" [ngValue]="rol">{{rol}}</option>
                </select>
                <div  class = "error" *ngFor="let validation of validation_messages.rol">
                    <div class="error-msg" *ngIf="profileForm?.get('rol')?.hasError(validation.type) && (profileForm?.get('rol')?.dirty || profileForm?.get('rol')?.touched)">{{validation.message}}
                    </div>
                </div>
            </div>
            <div class="item_col">
                <label for="reco">¿Recomedarías está página a una persona?</label>
                <div class="item_radius">
                    <div class = "radius-label" *ngFor="let option of recoOthers, let i = index">
                        <input id = "{{'op'+ i}}"  type="radio" value='{{option.key}}' formControlName="recoOth">{{option.value}}
                    </div>
                </div>
                <div class = "error" *ngFor="let validation of validation_messages.option">
                    <div class="error-msg" *ngIf="profileForm?.get('recoOth')?.hasError(validation.type) && (profileForm?.get('recoOth')?.dirty || profileForm?.get('recoOth')?.touched)">{{validation.message}}
                    </div>
                </div>
            </div>
            <div class="item_col">
                <label for="recommendation">¿Qué recomendaciones te gustaría recibir?</label>
                <div class="item_multiple">
                    <div class = "checkbox-label" *ngFor="let option of recoOptions, let i = index">
                        <input id = "{{'op'+ i}}"  type="checkbox" value='{{option.key}}' formControlName="recoOpt">
                        <label for="{{'op'+ i}}" >{{option.value}}</label>
                    </div>
                </div>
                <div class = "error" *ngFor="let validation of validation_messages.option">
                    <div class="error-msg" *ngIf="profileForm?.get('recoOpt')?.hasError(validation.type) && (profileForm?.get('recoOpt')?.dirty || profileForm?.get('recoOpt')?.touched)">{{validation.message}}
                    </div>
                </div>
                
            </div>
            <div class="item_col">
                <label for="pref">¿Cuándo preferirías que te contactásemos?</label>
                <input type="date" value='Date' formControlName="date" class = "date">
                <div class = "error" *ngFor="let validation of validation_messages.date">
                    <div class="error-msg" *ngIf="profileForm?.get('date')?.hasError(validation.type) && (profileForm?.get('date')?.dirty || profileForm?.get('date')?.touched)">{{validation.message}}
                    </div>
                </div>
            </div>
            <div class="item_col">
                <label for="text">¿Otros comentarios o sugerencias?</label>
                <textarea id="text" type="text" placeholder="Introduce tus comentarios..." formControlName="text"></textarea>
                <div class = "error" *ngFor="let validation of validation_messages.text">
                    <div class="error-msg" *ngIf="profileForm?.get('text')?.hasError(validation.type) && (profileForm?.get('text')?.dirty || profileForm?.get('text')?.touched)">{{validation.message}}
                    </div>
                </div>
            </div>
            
            <button class = 'submit' type="submit">Submit</button>
        </form>
        <p>Form Value: {{this.profileForm.value | json}}</p>
        <p>Form Status: {{ profileForm.status }}</p>
    </div>

</div>