<div class="module">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <div class="container">
      <div class="item"><app-card title = "Rick and Morty" href = "/rick-and-morty"></app-card></div>
      <div class="item"><app-card title = "Star Wars" href = "/star-wars"></app-card></div>
      <div class="item"><app-card title = "Pokemon" href = "/pokemon"></app-card></div>
      <div class="item"><app-card title = "Contact form" href = "/contact-form" ></app-card></div>
      <div class="item"><app-card title = "Airbnb" href = "/airbnb/6811251"></app-card></div>
    </div>
</div>
