<mat-toolbar class="toolbar__mat">
  <button mat-icon-button class="menu hidden_inmain" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a class = 'title hidden_inmain' routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="drawer.close()">
    <span>Angular course</span>
  </a>
  <span class="example-spacer"></span>
  <a href = "https://www.linkedin.com/in/jonathan-lozada-cuenca" mat-icon-button class="toolbar-icon" aria-label="Linkdin icon">
    <mat-icon svgIcon = "linkedin-icon"></mat-icon>
  </a>
  <a href = "https://github.com/JonathanLozadaGit" mat-icon-button class="toolbar-icon" aria-label="Github icon">
    <mat-icon svgIcon = "github-icon"></mat-icon>
  </a>
</mat-toolbar>

<mat-drawer-container class="mat-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <div class = "pages">
      <button mat-button color = 'secondary'(click)="drawer.toggle()" class = "is-rickandmorty"><a class = 'link' routerLink="/rick-and-morty" routerLinkActive="active" ariaCurrentWhenActive="page">Rick and Morty</a></button>
      <button mat-button color = 'secondary'(click)="drawer.toggle()" class = "is-starwars"><a class = 'link' routerLink="/star-wars" routerLinkActive="active" ariaCurrentWhenActive="page">Star Wars</a></button>
      <button mat-button color = 'secondary'(click)="drawer.toggle()" class = "is-pokemon"><a class = 'link' routerLink="/pokemon" routerLinkActive="active" ariaCurrentWhenActive="page">Pokemon</a></button>
      <button mat-button color = 'secondary'(click)="drawer.toggle()" class = "is-contact"><a class = 'link' routerLink="/contact-form" routerLinkActive="active" ariaCurrentWhenActive="page">Contact form</a></button>
      <button mat-button color = 'secondary'(click)="drawer.toggle()" class = "is-airbnb"><a class = 'link' routerLink="/airbnb/6811251" routerLinkActive="active" ariaCurrentWhenActive="page">Airbnb</a></button>
    </div>
    
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>



<!-- The routed views render in the <router-outlet>-->
  