body
    margin: 0px !important,

body.star-wars
    background-image: url('./assets/images/space.webp'),

body.rick-morty
    background-color: darkslateblue,

body.pokemon
    background-image: url('./assets/images/pokemon2.png'),
    background-repeat: no-repeat,
    background-size: cover,
    background-attachment: fixed,

body.contact
    background-image: url('https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'),
    background-repeat: no-repeat,
    background-size: cover,
    background-attachment: fixed,
